# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmousetool -caption "%c" %i %m
Icon=kmousetool
DocPath=kmousetool/index.html
Comment=Clicks the mouse for you, reducing the effects of RSI
Comment[x-test]=xxClicks the mouse for you, reducing the effects of RSIxx
Terminal=false
Name=KMouseTool
Name[x-test]=xxKMouseToolxx
GenericName=Automatic Mouse Click
GenericName[x-test]=xxAutomatic Mouse Clickxx
Categories=Qt;KDE;Utility;Accessibility;

Encoding=UTF-8
