# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmousetool -caption "%c" %i
Icon=kmousetool
DocPath=kmousetool/index.html
Comment=Clicks the mouse for you, reducing the effects of RSI
Comment[el]=Ενεργεί τα κλικ του ποντικιού για σας, μειώνοντας τις επιδράσεις των τραυμάτων από τη συνεχή επανάληψη (RSI)
Comment[fr]=Clique sur la souris à votre place, limitant les douleurs liées aux TMS
Comment[x-test]=xxClicks the mouse for you, reducing the effects of RSIxx
Terminal=false
Name=KMouseTool
Name[x-test]=xxKMouseToolxx
GenericName=Automatic Mouse Click
GenericName[el]=Αυτόματο κλικ ποντικιού
GenericName[fr]=Clic de souris automatique
GenericName[x-test]=xxAutomatic Mouse Clickxx
Categories=Qt;KDE;Utility;Accessibility;

Encoding=UTF-8
