# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmousetool -caption "%c" %i %m  
Icon=kmousetool.png
MiniIcon=kmousetool.png
DocPath=kmousetool/index.html
Comment=Clicks the mouse for you, reducing the effects of RSI
Comment[ca]=Fa els clics del ratolí, facilitant-ne el seu ús
Comment[cy]=Clicio'r llygoden i chi, wrth esmwytho poen RSI
Comment[da]=Klikker på musen for dig, fjerner RSI-smerte
Comment[de]=Führt Mausklicks für Sie aus
Comment[el]=Κάνει τα κλικ του ποντικιού για σας, χαλαρώνοντας τον πόνο RSI
Comment[es]=Realiza las pulsaciones del ratón por usted, facilitando su uso
Comment[et]=Klõpsab hiirt sinu eest, vähendades võimalike lihasevalude ohtu
Comment[fi]=Napsauttaa hiirtä puolestasi rannevammojen ehkäisemiseksi.
Comment[fr]=Clique sur la souris à votre place, limitant les douleurs liées aux TMS
Comment[he]=לוחץ על העכבר עבורך, ובכך מקל על כאב הנגרם כתוצאה ממאמץ ממושך
Comment[hu]=Automatikus egérkattintás (RSI-szindrómában szenvedőknek)
Comment[it]=Fa clic sul mouse al posto tuo
Comment[mt]=Jikklikkjalek il-maws, biex tevita uġigħ RSI
Comment[nl]=Klikt de muisknop voor u, verlicht RSI-pijn
Comment[pt]=Carrega no rato por si, aliviando dores motivadas por RSI
Comment[pt_BR]= Clica o mouse para você, facilitando a dificuldade do RSI
Comment[ru]=Утилита управления мышью для облегчения болевых синдромов
Comment[sk]=Kliká za vás myšou, uľahčuje bolisti RSI
Comment[sl]=Za vas klika miško, da vam olajša bolečine v zapestju
Comment[sr]=Кликће миша за вас, олакшавајући вам RSI бол
Comment[sv]=Klickar musen åt dig, för att mildra smärta från musarm
Comment[tr]=Sizin için fareye tıklar
Comment[xx]=xxClicks the mouse for you, easing RSI painxx
Comment[zh_CN]=为您点击鼠标，放松肢体重复性劳损(RSI)带来的疼痛
Terminal=0
Name=KMouseTool
Name[cy]=KErfynLlygoden
Name[pt_BR]=KFerramenta do Mouse
Name[sv]=Kmousetool
Name[tr]=Fare Aracı
Name[xx]=xxKMouseToolxx
Name[zh_CN]=KDE鼠标工具
